version: "3.9"

services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: mssql
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "1234@asdf"
    ports:
      - "1433:1433"
    volumes:
      - ./data:/var/opt/mssql
    restart: unless-stopped
